<h1>Search</h1>

<div class="container-fluid">
  <% @search.each do |post| %>
    <div class="row">
      <div class="col">
        <strong><%= post.user.username %></strong>
      </div>
      <div class="col-10">
        <%= link_to 'Show', post %>
      </div>
    </div>
  <% end %>
</div>
